.section-header {
    display: flex;
    flex-shrink: 0;    
}

.header-nav {
    width: 50%;   
}

.nav {        
    height: 73px;
}

.nav__list{
    display: flex;
    padding-top: 30px;
    padding-left: 70px;   
    font-weight: 400;
    font-style: normal;
    font-size: 13px;
    line-height: 1.15;
}

ul li:not(:last-child) {
    margin-right: 37px;
}

.header-name {
    padding-left: 70px;
    height: 727px;
    background-color: #F9F8F6;   
}

h1 {
    padding-top: 190px;
    padding-bottom: 20px;
    font-family: 'Lora';
    font-size: 80px;
    line-height: 1.27;
}

.header-name__video {
    display: flex;
    margin-top: 120px;
    align-items: center;

    p{
        margin-left: 60px;
    }
}

.header-slider {
    position: relative;   
}

.button-left {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;  
    bottom: 45px;
    right: 150px;
    width: 64px;
    height: 62px;
    border: 1px solid #FFFFFF;
}

.button-right {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;  
    bottom: 45px;
    right: 75px;   
    width: 64px;
    height: 62px;
    border: 1px solid #FFFFFF;
}